/* Размеры шрифтов */

$page-heading-fs: 27px;
$heading-fs: 25px;
$content-fs: 17px;


/* Цвета */

$emphase-color: #63d1bb;
$emphase-border-color: #62d1ba;
$emphase-secondary-color: #56c3b2;
$content-color: #444444;