.categories {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

.categories__category {
  background-repeat: no-repeat;
  display: block;
  width: 260px;
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  color: #ffffff;
  letter-spacing: 0;
}

.categories__category--interior {
  background-color: $emphase-color;
  background-image: url("../img/icon-interior.svg");
  background-position: 244px 22px;
}

.categories__category--toys {
  background-color: $emphase-secondary-color;
  background-image: url("../img/icon-toy.svg");
  background-position: 233px 20px;
}

@media (min-width: $tablet-width) {
  .categories {
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -16px;
      left: 0;
      right: 0;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .categories__category {
    padding-left: 35px;
    margin: 0;
    width: 269px;
    font-size: 20px;
    line-height: 30px;
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .categories__category--interior {
    background-position: 258px 29px;
  }

  .categories__category--toys {
    background-position: 240px 32px;
  }
}

@media (min-width: $desktop-width) {
  .categories__category {
    width: 460px;
    padding-top: 30px;
  }

  .categories__category--interior {
    background-position: 450px 30px;
  }

  .categories__category--toys {
    background-position: 430px 30px;
  }
}
