.categories {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

.categories__category {
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding: 20px 30px 22px 30px;
  margin: 0 auto;
  color: #ffffff;
  letter-spacing: 0;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active .categories__icon {
    opacity: 0.3;
  }
}

.categories__category--interior {
  background-color: $emphase-color;
}

.categories__category--toys {
  background-color: $emphase-secondary-color;
}

.categories__icon {
  fill: #149080;
  opacity: 0.5;
  transition: 0.2s;
}

.categories__icon--interior {
  margin-right: 6px;
}

@media (min-width: $tablet-width) {
  .categories {
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -16px;
      left: 0;
      right: 0;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .categories__category {
    padding-left: 35px;
    margin: 0;
    width: 269px;
    font-size: 20px;
    line-height: 30px;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 30px;

    &:hover {
      transform: translateY(-5px);
    }

    &:hover .categories__icon {
      opacity: 0.7;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:active .categories__icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories__category {
    width: 460px;
    padding-top: 30px;
  }
}
