.checkbox {
  min-height: 39px;
  display: flex;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  font-size: $content-fs;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 64px;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 21px;
  tab-index: 1;
}

.checkbox__label::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid $content-color;
  top: 0;
  left: 0;
}

.checkbox__input:checked ~ .checkbox__label::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32.666px' height='22.742px' viewBox='0 0 32.666 22.742' enable-background='new 0 0 32.666 22.742' xml:space='preserve'%3E%3Cpolygon points='32.666,1.414 31.252,0 11.338,19.914 1.414,9.989 0,11.403 9.924,21.328 9.924,21.328 11.338,22.742 11.338,22.742 11.339,22.742 12.753,21.328 12.752,21.328 '/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.checkbox:hover .checkbox__label::before {
  border-color: $emphase-color;
}

.checkbox:active .checkbox__label::before {
  border-color: #c7c7c7;
}

@media (min-width: $tablet-width) {
  .checkbox {
    min-height: 54px;
    flex-basis: 238px;
  }

  .checkbox__label {
    font-size: 19px;
    line-height: 18px;
    padding-left: 82px;
    padding-top: 17px;
    padding-bottom: 18px;
  }

  .checkbox__label::before {
    width: 50px;
    height: 48px;
  }

  .checkbox__input:checked ~ .checkbox__label::before {
    background-size: 33px 22px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    flex-basis: 222px;
  }
}
