.contacts__wrap {
  padding: 85px 30px 37px 30px;
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts__heading {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

.contacts__info {
  font-size: 15px;
  line-height: 30px;
  flex-basis: 76px;
  color: $content-color;
}

.contacts__address {
  display: flex;
  justify-content: flex-start;
}

.contacts__email {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.contacts__info--address {
  flex-basis: 149px;
}

.contacts__info--email {
  border-bottom: 1px solid $emphase-border-color;
}

.contacts__map {
  width: 100%;
  height: 457px;
  background-color: lightseagreen;
}

.contacts__btn {
  margin: 38px auto;
  width: 258px;
}

@media (min-width: $tablet-width) {
  .contacts__wrap {
    flex-direction: row;
    width: 668px;
    padding: 0 50px;
    padding-top: 25px;
    padding-bottom: 55px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts__heading {
    font-size: $page-heading-tablet-fs;
    line-height: 50px;
    flex-basis: 100%;
    margin-bottom: 48px;
    margin-left: -3px;
  }

  .contacts__email {
    flex-basis: 285px;
  }

  .contacts__address {
    display: flex;
    flex-basis: 334px;
    justify-content: flex-start;
  }

  .contacts__info {
    flex-basis: 78px;
    font-size: $content-fs;
    line-height: 30px;
  }

  .contacts__info--address {
    flex-basis: 230px;
  }

  .contacts__btn {
    margin: 55px auto 50px auto;
    width: 226px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    width: 875px;
    padding-top: 0;
    padding-right: 50px;
    padding-left: 225px;
    margin: 0 auto;
    position: relative;
  }

  .contacts__wrap {
    width: 300px;
    padding: 0;
    margin: 0;
  }

  .contacts__address {
    margin: 0;
  }

  .contacts__heading {
    font-size: $page-heading-desktop-fs;
    line-height: 57px;
    margin: 0;
    padding: 0;
  }

  .contacts__email {
    margin: 0;
  }

  .contacts__btn {
    position: absolute;
    left: 240px;
    top: 363px;
  }

  .contacts__map {
    width: 525px;
    margin-left: auto;
  }
}
