.developer {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

.developer:hover .developer__logo {
  path {
    fill: #46c1ae;
  }
}

.developer:active {
  color: #bfbfbf;
}

.developer__logo {
  width: 41px;
  height: 41px;
  margin-right: -7px;
}

@media (min-width: $tablet-width) {
  .developer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
