.developer {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

@media (min-width: $tablet-width) {
  .developer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
