.featured {
  padding: 30px 30px 42px 30px;
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .featured {
    width: 668px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    width: 1050px;
    padding: 20px 50px;
  }
}
