.good__description {
  border: 1px solid #ececec;
  padding: 25px;
}

.good__name {
  margin-top: 0;
  font-size: $content-fs;
  line-height: 24px;
}

.good__info {
  font-size: 13px;
  line-height: 30px;
  color: $content-color;
}

.good__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: black;
}

.good__proceed {
  border-top: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .good {
    display: flex;
    margin-bottom: 50px;
  }

  .good__description {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .good {
    flex-direction: column;
    flex-basis: 315px;
    margin-bottom: 55px;
  }

  .good__pic {
    align-self: center;
    width: 100%;
    flex-basis: 462px;
  }
}
