.logo {
  margin-left: 115px;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 167px;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    order: 2;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
}
