.logo {
  margin-left: 115px;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 167px;
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    margin-top: 8px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .logo__image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 91px;
  }

  .logo__image {
    width: 148px;
    height: 72px;
  }
}
