.main-nav {
  font-size: $content-fs;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 320px;
}

.main-nav__list-item {
  padding: 30px 60px;
}

.main-nav__link {
  color: black;
}

.main-nav__toggle {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
}

.toggler {
  content: "";
  width: 20px;
  height: 2px;
  background-color: black;
  position: relative;
}

.toggler--opened {
  transform: rotate(45deg);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    left: 0;
    right: 0;
    background-color: black;
    transform: rotate(90deg);
  }
}

.toggler--closed {
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    height: 2px;
    left: 0;
    right: 0;
    background-color: black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    height: 2px;
    left: 0;
    right: 0;
    background-color: black;
  }
}

.main-nav__list--shop {
  display: none;
}

@media (max-width: 767px) {
  .main-nav__list--navigation-js {
    position: absolute;
    width: 320px;
    height: 158px;
    background: white;
    top: 79px;
  }

  .main-nav__list--user-block-js {
    position: absolute;
    width: 320px;
    height: 158px;
    background: white;
    top: 237px;
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent;
    width: 668px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    height: 70px;
    font-size: 15px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__list--shop {
    display: none;
  }

  .main-nav__list--user-block {
    order: 1;
    justify-content: flex-start;
  }

  .main-nav__list--navigation {
    order: 2;
    width: 323px;
    justify-content: space-between;
    padding-top: 5px;
    background: transparent;
  }

  .main-nav__list-item--search {
    width: 83px;
  }

  .main-nav__list-item {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  .main-nav__link {
    margin-top: 10px;
  }

  .main-nav__link--cart {
    padding-left: 55px;
  }

  .main-nav__list--navigation-js {
    position: static;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
    padding: 0 50px;
  }

  .main-nav__list {
    font-size: 17px;
    line-height: 24px;
  }

  .main-nav__list-item {
    padding-top: 15px;
  }

  .main-nav__list--navigation {
    order: 1;
    width: 373px;
  }

  .main-nav__list--user-block {
    order: 3;
    justify-content: flex-end;
  }

  .main-nav__list-item--cart {
    width: 265px;
    padding-top: 20px;
    padding-left: auto;
  }

  .main-nav__list--shop {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    order: 4;
    padding-top: 0;
  }
}
