.order-form {
  width: 260px;
  padding: 24px 30px 57px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  color: $content-color;
  margin: 0;
  margin-bottom: 26px;
}

.order-form__required-note {
  font-size: 14px;
  line-height: 16px;
  color: $content-color;
  margin-bottom: 35px;
}

.order-form__proceed {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .order-form {
    width: 100%;
    padding: 68px 0 22px 0;
  }

  .order-form__description {
    font-size: $content-fs;
    line-height: 30px;
    width: 668px;
    margin: 0 auto 5px auto;
  }

  .order-form__proceed {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 668px;
    margin: 0 auto;
    padding: 17px 0 0 0;
  }

  .order-form__required-note {
    order: 1;
    font-size: $content-fs;
    line-height: 30px;
  }

  .order-form__btn {
    font-size: $content-fs;
    line-height: 16px;
    min-width: 228px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    width: 100%;
    padding: 135px 0 28px 0;
  }

  .order-form__description {
    width: 700px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .order-form__proceed {
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .order-form__btn {
    flex-basis: 230px;
  }
}
