.order-form {
  padding: 30px;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  color: $content-color;
}

.order-form__required-note {
  font-size: 14px;
  line-height: 16px;
  color: $content-color;
}