.page-header {
  padding-top: 20px;
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.page-header__top {
  display: flex;
}

.page-header__inner {
  position: relative;
}

.page-header__delivery {
  color: $content-color;
  font-size: 15px;
  line-height: 24px;
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 668px;
    padding: 20px 50px;
    margin: 0 auto;
    align-items: stretch;
  }

  .page-header__top {
    flex-direction: row;
    width: 100%;
  }

  .page-header__delivery {
    display: block;
    position: absolute;
    top: 86px;
    right: 0;
  }
}
