.post {
  border: 1px solid #ececec;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.post__heading {
  padding: 20px 41px 25px 89px;
  margin: 0;
  font-size: $content-fs;
  line-height: 24px;
  position: relative;
}

.post__heading--video::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  background: url("../img/icon-video.svg") no-repeat center;
  top: 32px;
  left: 33px;
}

.post__info {
  padding: 26px 33px 32px 33px;
}

.post__content {
  margin: 0 5px 25px 0;
  font-size: 13px;
  line-height: 24px;
  color: $content-color;
}

.post__media-container {
  position: relative;
  max-height: 150px;
}

.post__media-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 78px;
  margin-left: -51px;
  margin-top: -39px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

@media (min-width: $tablet-width) {
  .post {
    width: 668px;
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
  }

  .post__media {
    height: 455px;
    background-color: lightgrey;
    width: 100%;
  }

  .post__media-container {
    order: 1;
    max-height: 453px;
    display: block;
  }

  .post__heading {
    font-size: 20px;
    line-height: 24px;
    order: 2;
    padding: 38px 41px 9px 105px;
    letter-spacing: 0.2px;
  }

  .post__heading--video::before {
    top: 37px;
    left: 41px;
  }

  .post__content {
    font-size: 15px;
    line-height: 30px;
    margin: 0 0 34px 0;
  }

  .post__info {
    order: 3;
    padding: 24px 41px 32px 41px;
  }

  .post__btn {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .post {
    width: 1050px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 452px;
    margin-bottom: 108px;
  }

  .post__media {
    width: 682px;
    height: 455px;
  }

  .post__heading {
    flex-grow: 0;
    width: 230px;
    padding: 93px 0 0 20px;
  }

  .post__info {
    margin: 0;
    padding: 35px 0 0 20px;
    width: 230px;
  }

  .post__heading--video::before {
    top: 44px;
    left: 20px;
  }

  .post__media-container {
    width: 682px;
  }

  .post__content {
    margin-bottom: 43px;
  }
}
