.responds__heading {
  font-size: $heading-fs;
  margin-bottom: 4px;
  margin-top: 0;
}

.responds {
  width: 260px;
  padding: 4px 30px 0 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.responds__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 38px;
}

.responds__control-btn {
  height: 48px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
}

.responds__icon--left {
  transform: rotate(180deg);
}

@media (min-width: $tablet-width) {
  .responds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    padding: 0 50px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    align-items: flex-start;
    margin-bottom: 85px;
    background: url("/../../img/review@1x.jpg") no-repeat;
    background-position: 0 23px;
  }

  .responds__heading {
    font-size: $page-heading-tablet-fs;
    line-height: 50px;
    order: 1;
    margin: 0;
    margin-bottom: 50px;
    margin-left: -4px;
  }

  .responds__write {
    order: 2;
    flex-basis: 171px;
  }

  .responds__controls {
    order: 5;
    display: flex;
    margin-left: auto;
    padding-top: 2px;
  }

  .responds__control-btn {
    width: 87px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .responds {
    width: 875px;
    margin: 0 auto;
    padding-left: 225px;
    padding-top: 79px;
    padding-bottom: 155px;
  }

  .responds__heading {
    font-size: $page-heading-desktop-fs;
    margin-top: -3px;
  }
}
