.respond {
  margin-left: 0;
  width: 100%;
}

.respond__text {
  color: $content-color;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 12px;
}

.respond__text br {
  display: none;
}

.respond__author {
  font-size: $content-fs;
  line-height: 24px;
}

.respond__info {
  margin-bottom: 30px;
}

.respond__author-contacts {
  font-size: $content-fs;
  line-height: 30px;
  color: $content-color;
  display: block;
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .respond {
    order: 3;
    margin: 0;
  }

  .respond__text {
    font-size: $content-fs;
    margin-bottom: 58px;
    width: 100%;
  }

  .respond__info {
    order: 4;
  }

  .respond__author {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .respond__text {
    width: 770px;
    margin-bottom: 40px;
    & br {
      display: inline;
    }
  }
}
