.social {
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    display: flex;
    justify-content: space-between;
    margin-left: 82px;
    height: 30px;
  }
}
