.text {
  margin-bottom: 22px;

  &:hover .text__input {
    border-color: $emphase-color;
  }
}

.text--personal {
  margin-bottom: 23px;
}

.text__input {
  border: none;
  border-bottom: 2px solid black;
  font-size: $content-fs;
  line-height: 18px;
  padding: 15px 0;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $emphase-color;
  }

  &::placeholder {
    color: #d2d2d2;
    letter-spacing: 0.4px;
  }
}

.text__label {
  font-size: $content-fs;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
}

.text__input--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 225px 10px;

  &:hover,
  &:focus {
    background-image: url("../img/icon-phone--hover.svg");
  }
}

.text__input--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 223px center;

  &:hover,
  &:focus {
    background-image: url("../img/icon-mail--hover.svg");
  }
}

@media (min-width: $tablet-width) {
  .text {
    flex-basis: 501px;
    display: flex;
    align-items: baseline;
    margin-bottom: 21px;
  }

  .text__label {
    font-size: 19px;
    line-height: 18px;
    margin-right: 25px;
  }

  .text__input {
    font-size: 19px;
    line-height: 18px;
    flex-grow: 1;
    padding-left: 18px;
  }

  .text__input--phone {
    background-color: #f1f1f1;
    background-position: 450px 15px;
  }

  .text__input--email {
    background-color: #f1f1f1;
    background-position: 448px center;
  }
}

@media (min-width: $desktop-width) {
  .text {
    flex-basis: 700px;
  }

  .text__input--phone {
    background-position: 668px 15px;
  }

  .text__input--email {
    background-position: 666px center;
  }
}
