
.text__input {
  border: none;
  border-bottom: 2px solid black;
  font-size: $content-fs;
  line-height: 18px;
  &::placeholder {
    color: #d2d2d2;
  }
}

.text__label {
  font-size: $content-fs;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
}
