.top-good {
  color: $content-color;
  display: flex;
  flex-direction: column;
}

.top-good__name {
  font-size: $heading-fs;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.top-good__status {
  color: $emphase-color;
  font-size: $content-fs;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.top-good__description {
  font-size: 15px;
  line-height: 24px;
}

.top-good__info {
  list-style: none;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 28px;
}

.top-good__feature {
  height: 39px;
}

.top-good__key {
  width: 100px;
  border-bottom: 1px solid #ececec;
}

.top-good__value {
  border-bottom: 1px solid #ececec;
}

.top-good__picture {
  margin-bottom: 25px;
}

.top-good__proceed {
  display: flex;
  flex-direction: column;
}

.top-good__price {
  font-size: $content-fs;
  line-height: 24px;
  align-self: center;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .top-good {
    padding-top: 55px;
    padding-bottom: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .top-good__name {
    font-size: $page-heading-tablet-fs;
  }

  .top-good__status {
    margin-bottom: 55px;
    display: inline-flex;
    width: 55px;
    text-align: center;
    align-self: flex-end;
    margin-right: 40px;
  }

  .top-good__brief {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .top-good__description {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    width: 290px;
  }

  .top-good__picture {
    width: 333px;
    height: 404px;
    margin: 0;
  }

  .top-good__info {
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 240px;
    margin-top: 29px;
    padding: 0;
  }

  .top-good__feature {
    flex-basis: 100%;
    padding: 11px 0;
  }

  .top-good__price {
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-good__proceed {
    display: flex;
    width: 290px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -152px;
  }
}

@media (min-width: $desktop-width) {
  .top-good {
    width: 825px;
    margin-left: 175px;
    position: relative;
    height: 626px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .top-good__name {
    font-size: $page-heading-desktop-fs;
    line-height: 57px;
    max-width: 290px; /* Ширина блока с информацией */
    white-space: nowrap;
    overflow: visible;
    margin-top: 47px;
    margin-left: -3px;
    margin-bottom: 50px;
    order: 1;
    z-index: 2;
  }

  .top-good__status {
    position: absolute;
    top: 118px;
    left: -129px;
    z-index: 2;
  }

  .top-good__brief {
    flex-basis: auto;
    width: auto;
    order: 2;
    margin-right: 60px;
    justify-content: flex-start;
  }

  .top-good__description {
    margin-bottom: 49px;
  }

  .top-good__info {
    margin-top: 0;
  }

  .top-good__proceed {
    order: 3;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
  }

  .top-good__price {
    margin-bottom: 29px;
  }

  .top-good__picture {
    order: 4;
    width: 525px;
    height: 636px;
    background: lightgrey;
    z-index: 1;
  }
}
